header[style="background-color: white;"] button {
    border-radius: 20px;
  }
  
  header:nth-of-type(2) {
    height: 1px; 
    }
  
  .hiccup-logo {
    width: 200px; 
    height: auto;
    margin-left: 30px;
    margin-bottom: -60px;
    margin-top: -10px;
  }
  
  body {
    font-family: 'Dosis', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #dfbebe;
    background: -webkit-radial-gradient(circle, #dfbebe 0%, #eba3ae 100%);
    background: radial-gradient(circle, #dfbebe 0%, #eba3ae 100%);
    background: radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#dfbebe 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#dfbebe 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#dfbebe 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#dfbebe 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
    repeating-conic-gradient(#eba3ae 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
    radial-gradient(#0000 66%,#dfbebe 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px#eba3ae;
    overflow-x: hidden;
  }
  
  header {
    top: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 1000;
    background-color: #386272;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .logo img {
    height: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    float: right;
  }
  
  nav ul li {
    margin-left: 14px;
    margin-right: 35px;
    margin-top: -1px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #508CA3;
  }
  
  button {
    margin-right: 65px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0.8em;
    border: 3px solid #508CA3;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #508CA3;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .button:hover {
    background-color: #508CA3;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #508CA3;
    z-index: -1;
    border-radius: 15px;
  
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }
  
  footer {
    position: absolute;
    bottom: -30%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 1000;
    background-color: #386272;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .circlelogo{
    width: 90px;
  }
  
  .footer-content {
    display: inline-table;
    justify-content: space-between;
  }
  
  .footer-content p {
    font-weight: bold;
  }
  
  .socials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
  }
  .social {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
  }
  .twitter:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
  }
  .facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
  }
  .google-plus:hover {
    background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
  }
  .instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .social svg {
    fill: white;
    height: 20px;
  }
  
  .card {
    width: 400px;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  
  .card-header {
    background-color: #386272;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #386272;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 92%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 12px 24px;
    margin-left: 110px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #386272;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #508CA3;
    color: white;
  }
  
  .signup-link {
    text-align: center;
    color: #386272;
  
  }
  
  .signup-btn {
    color: #386272;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
  }
  
  .signup-btn:hover {
    text-decoration: underline;
  }

  .card{
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
    }

    
    
    @keyframes fadeInAnimation {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .text-footer {
      font-family: 'Dosis', sans-serif;
      margin-right: 720px;
    }

    .address {
        font-weight: normal;
    }

.text-footer2{
    font-size: 20px;
    text-align: center;
    margin-bottom: -20px;
}

.dropdownpromos:hover .dropdownpromos-content {
  display: block;
  width: 260px;
  height: 180px;
}

.dropdownpromos-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  min-width: 100px; /* Adjust as needed */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow for dropdown */
  z-index: 1;
}

.dropdownpromos-content a {
  color: #508CA3; /* Link color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Adjust dropdown link styles as needed */
.dropdownpromos-content a:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Hover color */
}

.small-text {
  font-size: 0.8em; /* You can adjust the font size as needed */
}

.promo-content {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

/* Adjust the size of the image */
.kathniel {
  max-width: 50px; /* Set the maximum width */
  height: auto; /* Maintain aspect ratio */
  margin-right: -10px; /* Add margin for spacing */
  margin-left: 8px;
}

/* Style the promo text */
.promo-text, .promo-text2 {
  font-size: 16px; /* Adjust font size */
  margin-right: -90px;
}


.promo-content2 {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
}

/* Adjust the size of the image */
.xmaspromo {
  max-width: 50px; /* Set the maximum width */
  height: auto; /* Maintain aspect ratio */
  margin-right: -10px; /* Add margin for spacing */
  margin-left: 8px;
}

/* Style the promo text */
.promo-text2 {
  font-size: 16px; /* Adjust font size */
  /* Add any other desired styles */
}